body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #8521cc;
    user-select: none;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
   
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 0px;
    width: 100%;
    color: #ffffff;
    font-size: 8px;
}

h2{
    font-size: 2.5em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.reset{
    padding: 15px 20px;
    width: 100%;
    border-radius: 20px;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus{
    color: white;
    background-color: #280e42;
}

.game{
    width: 945px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item{
    position: relative;
    width: 100px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 3.5em;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background: #280e42;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    opacity: 50%;
}

.item.boxOpen{
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMath::after{
    transform: rotateY(180deg);
}

.menu-time,
.menu-time h2,
.menu-score,
.menu-score h2 {
    display: flex;
    align-items: center;
    margin-left: 10px;

}